html {
    height: 100%;
}

body{
    margin: 0px;
    height: 100%;
}

/* HEADER */

#header {
    background-color: #00ff00;
    height: 30px;
}

/* END HEADER */

/* CONTENT */

#content {
    height: calc(100% - 60px);
    position: relative;
}

.square {
    width: 200px;
    height: 200px;
    border: 1px solid #000000;
    background-color: #ffff00;
}

.square.absolute {
    background-color: #0000ff;
}

.fixed {
    position: fixed;
    bottom: 0;
}

.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.relative {
    position: relative;
    top: 500px;
    left: 50px;
}

/* END CONTENT */

/* FOOTER */

#footer {
    background-color: #ff0000;
    height: 30px;
}

/* END FOOTER */
