* {
    font-family: Arial, Helvetica, sans-serif;
}

#text-yellow {
    color: yellow;
}

.main .sale .clearance p {
    /* Most specific */
    color: red;
}

.header .title p {
    color: green;
}

.footer p {
    /* Least specific */
    color: blue;
}