#paragrafo_1 {
    color: #ff0000;
}
.text-blue {
    color: #0000ff;
}
.text-red {
    color: #ff0000;
}
.text-green {
    color: #00ff00;
}

#paragrafo_1 {
    color: #ffff00;
}

#paragrafo_1 em {
    font-size: 20px;
}

#em_1 {
    color: #0000ff;
}