* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body{
    margin: 0px;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

/* HEADER */

header {
    background-color: #00ff00;
}

header h1 {
    background-color: #00ff00;
    margin: 0;
    text-align: center;
}

/* END HEADER */

/* NAV */

nav {
    background-color: #da580d;
    height: 40px;
}

/* END NAV */

/* MAIN */

main {
    position: relative;
}

/* END MAIN */

/* FOOTER */

footer {
    background-color: #ff0000;
    height: 50px;
    position: absolute;
    bottom:0;
    width: 100%;
}

/* END FOOTER */